extends layout
block content
  div(id="container" style="height: 400px")
  script(src="/javascripts/piecharts.js")
  script(src="http://code.highcharts.com/highcharts.js")
  script(src="http://code.highcharts.com/highcharts-3d.js")
  script(src="http://code.highcharts.com/modules/exporting.js")
        
