extends layout
block content
  //- form(name="")
  //- select(id="", name="")
  //-   each val in [ '2012 Iowa GOP Primary','2012 New Hampshire GOP Primary' 
  //-     option= val.name
    //- option(value="2016 Ohio Republican Presidential Primary") 2016 Ohio Republican Presidential Primary
  input(type="button")
  script(src="/javascripts/polls.js")
  script(src="http://code.highcharts.com/highcharts.js")
  script(src="http://code.highcharts.com/modules/exporting.js")
  div(id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto")
