extends layout
block content
  div(class="row")
    div(class="col-md-6 col-md-offset-1")
      form(id="titleSelectForm" action="/polls/new" method="get")
        label(for="titleSelect" class="titleSelector")
      select(name="titleSelect" id="titles" class="titleSelector btn btn-default dropdown-toggle")
    div(class="titleSelector" id="submitString") 
      h2(id="tally") Tally It
  div(class="row")
    div(class="col-md-12")
      if headlines
        h2(class="text-center")= searchString
      div(id="container" class="col-md-offset-3 col-md-6")
      div(class="row")
        div(class="col-md-12")
          if headlines
            each headline in headlines
              div(class="col-md-5 articles")
                h5
                  span
                      a(href=headline.web_url)= headline.headline.main
                div(class="row")
                  div(class="col-md-5 col-md-offset-1")
                    h6= headline.snippet
                  div(class="col-md-5")
                    each url in headline.multimedia
                      if url.width == 190  
                        img(src="http://www.nytimes.com/" + url.url)
                div(class="text-center")
                  a(href=headline.web_url)= headline.source
                
              
  script(src="/javascripts/pollData.js")
  script(src="https://code.highcharts.com/highcharts.js")
  script(src="https://code.highcharts.com/modules/exporting.js")
