extends layout
block content
  form(id="titleSelectForm" action="/" method="get")
    label(for="titleSelect") Select Information To Graph
    select(name="titleSelect" id="titles")
    input(type="submit")
    
      
  //-     option= allTitles
  //-     //use jquery to loop through the array 
  //-     //append to here 
  //-   input(type="submit" value="Tally Graph!")
  //-  
  p(class="test")
  script(src="/javascripts/pollData.js")
  script(src="https://code.jquery.com/jquery-1.10.2.js")
  script(src="http://code.highcharts.com/highcharts.js")
  script(src="http://code.highcharts.com/modules/exporting.js")
  div(id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto")
