body {
  padding: 50px;
  margin: 0;
  font-family: 'Cabin', sans-serif;
}

a {
  color: #00B7FF;

}

#titleSubmit {
  width: 200px;
  height: 50px;
  background-color: #FFA500;
  color: white;

}
.head {
  background-color: black;
  color: white;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 80px;
  margin: 20px;
  text-align: center;
  color: #FFA500;
}

.center {
  width: 60%;
  margin: 0 auto;
  background-color: #DCDCDC;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 10px 10px 5px #888888;
  margin-bottom: 30px;
}
#titles{
   width: 400px;
   height: 34px;
   overflow: hidden;
   font-size: 15px;
   background: url(new_arrow.png) no-repeat right white;
   border: 0px solid #ccc;
   font-family: 'Cabin', sans-serif;
   }
#submitString {
  border-radius: 15px;
  background-color: #FFA500;
  color: white;
  height: 50px;
  width: 150px;
  box-shadow: 10px 10px 5px #888888;
  padding: 20px;
}
#tally{
  font-family: 'Lobster', cursive;
  font-size: 40px;
}

.titleSelector {
  margin: 0 auto;
  float: center;
}

.leftnav {
  float: left;
  height: 100%;
  background-color: white;
}

.rightmain {
 margin-left: -100px;
}

.box {
  background-color: #DCDCDC;
  width: 600px;
  margin: 0 auto;
  border-radius: 15px;
}
.subj {
  background-color: #FFA500;
  width: 200px;
  height: 200px;
  border-radius: 15px;
  float: left;

}
.subj:hover + .hidden {
  display: block;

}
.hidden {
  display: none;
  background-color: grey;
  float: left;
  width: 350px;
  height: 200px;
  border-radius: 15px;
  margin-left: 20px;

}

.text {
  margin: 0 auto;
  width: 80%;
}


@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
@import url(http://weloveiconfonts.com/api/?family=entypo);
.menu{
  vertical-align:middle;
  width:200px;
  display:inline-block;
 font-family: 'Source Sans Pro', sans-serif;
  transform:translate3d(0,0,0);
}
.menu input{
  position:absolute;
  left:-9999px;
}
.menu #togglemenu:checked ~ ul {
  max-height:300px;
  padding-bottom:1em;
}
.togglemenu {
background: #FFA500;
color: white;
display: block;
padding: 0.75em;
text-align: center;
cursor:pointer;
font-family: 'entypo', sans-serif;
}
.togglemenu:before{
  content: "\2630";
  font-size:1.5em;
  vertical-align:middle;
}
.menu ul{
  margin-top:2px;
  text-align:left;
  max-height:0px;
  overflow:hidden;
  padding-bottom:0;
  transition:300ms ease all;
  list-style-type: none;
}
.menu li{
  margin-bottom:1px;
  position:relative;
  z-index:10;
  transition:300ms ease all;
}
.menu li a {
display: block;
position:relative;
width:100%;
padding: 1em;
background: rgb(192, 192, 192);
text-decoration:none;
color:white;
box-sizing:border-box;
transition:300ms ease all;
}
.menu li:hover a {
width:99%;
margin-left:1%;
box-shadow: inset 300px 0 300px -300px rgba(255, 255, 255, 0.6);
}
.menu li:before {
content: "";
position: absolute;
width: 50%;
height: 30%;
left: 1%;
bottom: 16px;
box-shadow: 10px 0 0px black;
transition:300ms ease all;
transform: rotate(0deg);
}

.menu li:hover:before {
box-shadow: 10px 0 30px black;
transform: rotate(-4deg);
bottom: 6px;
}
