p(class="test")  this is where graphs WILL render
script(src="/javascripts/pollData.js")
script(src="https://code.jquery.com/jquery-1.10.2.js")
script(src="http://code.highcharts.com/highcharts.js")
script(src="http://code.highcharts.com/modules/exporting.js")
div(id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto")
